html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

body {
  color: #545149;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 24px;
  display: flex;
  flex-direction: column; }
  body > nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1.5em;
    height: 120px;
    width: 100%;
    background-color: transparent;
    font-family: 'Bungee', 'sans-serif';
    color: #FFFFFF;
    z-index: 2; }
    @media all and (min-width: 1024px) {
      body > nav {
        background-color: #4056A1; } }
    body > nav div {
      display: flex;
      flex-direction: column;
      font-family: 'Source Sans Pro', 'sans-serif';
      font-weight: 400;
      text-align: center; }
      body > nav div:hover {
        margin-top: -0.5rem;
        margin-right: -0.7rem;
        color: #f1a440;
        font-size: 1.7rem; }
  @media all and (min-width: 1024px) {
    body > div.user-and-content-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; } }
  body > div.user-and-content-wrapper > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    margin-top: -120px;
    height: 400px;
    background-color: #06BEE1;
    background-image: url("http://www.transparenttextures.com/patterns/3px-tile.png"); }
    @media all and (min-width: 1024px) {
      body > div.user-and-content-wrapper > header {
        padding-top: 0;
        margin-top: 7vh;
        max-width: 27vw; } }
    body > div.user-and-content-wrapper > header > img {
      width: 10rem;
      height: 10rem; }
    body > div.user-and-content-wrapper > header > h2 {
      bottom: 0;
      text-align: center;
      font-weight: 300;
      font-style: italic;
      color: white; }
      body > div.user-and-content-wrapper > header > h2 > span {
        font-weight: 700;
        color: #e6dd15; }
  body > div.user-and-content-wrapper > main {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media all and (min-width: 1024px) {
      body > div.user-and-content-wrapper > main {
        width: 60vw; } }
    body > div.user-and-content-wrapper > main > .go-to-top {
      position: fixed;
      bottom: 1.5rem;
      right: 1.5rem;
      height: 5rem;
      width: 5rem;
      display: none;
      background-color: white;
      border-radius: 10rem; }
    body > div.user-and-content-wrapper > main > .new-tweet {
      font-family: 'Bungee', 'sans-serif';
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem; }
      body > div.user-and-content-wrapper > main > .new-tweet > h2 {
        font-family: 'Source Sans Pro', 'sans-serif'; }
      body > div.user-and-content-wrapper > main > .new-tweet > form {
        width: 80vw; }
        body > div.user-and-content-wrapper > main > .new-tweet > form:visible .go-to-top {
          display: block; }
        @media all and (min-width: 1024px) {
          body > div.user-and-content-wrapper > main > .new-tweet > form {
            width: 40vw; } }
        body > div.user-and-content-wrapper > main > .new-tweet > form > textarea {
          font-family: 'Source Sans Pro', 'sans-serif';
          font-weight: 700;
          border-width: 0 0 3px 0;
          background-color: transparent;
          width: 100%; }
        body > div.user-and-content-wrapper > main > .new-tweet > form > input {
          color: white;
          background-color: #4353A0;
          border: none; }
        body > div.user-and-content-wrapper > main > .new-tweet > form > span {
          float: right; }
    body > div.user-and-content-wrapper > main > .tweet-container {
      margin-top: 3rem;
      justify-content: space-between;
      width: 80vw;
      word-wrap: break-word; }
      @media all and (min-width: 1024px) {
        body > div.user-and-content-wrapper > main > .tweet-container {
          width: 50vw; } }
      body > div.user-and-content-wrapper > main > .tweet-container > article {
        padding: 1rem;
        border: 2px solid black;
        border-radius: 2rem;
        margin-bottom: 3rem;
        font-family: 'Source Sans Pro', 'sans-serif';
        font-weight: 300;
        font-size: 1.1rem; }
        body > div.user-and-content-wrapper > main > .tweet-container > article:hover {
          box-shadow: 5px 5px 5px; }
          body > div.user-and-content-wrapper > main > .tweet-container > article:hover .tweeter-handle {
            display: inline;
            color: #6c24e2;
            font-weight: 700; }
        body > div.user-and-content-wrapper > main > .tweet-container > article > header {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          body > div.user-and-content-wrapper > main > .tweet-container > article > header > .tweeter-name {
            display: flex;
            align-items: center; }
            body > div.user-and-content-wrapper > main > .tweet-container > article > header > .tweeter-name > img {
              width: 40px; }
            body > div.user-and-content-wrapper > main > .tweet-container > article > header > .tweeter-name > span {
              font-family: 'Bungee', 'sans-serif';
              font-size: 0.9em;
              margin-left: 0.7rem; }
          body > div.user-and-content-wrapper > main > .tweet-container > article > header > .tweeter-handle {
            display: none;
            color: #CAD0E3; }
        body > div.user-and-content-wrapper > main > .tweet-container > article > div {
          margin: 2rem auto;
          font-weight: 700;
          font-size: 1.3em; }
        body > div.user-and-content-wrapper > main > .tweet-container > article > footer {
          border: solid;
          border-width: 2px 0 0 0;
          display: flex;
          justify-content: space-between; }
  body .error {
    font-family: "Source Sans Pro", "sans-serif";
    text-align: left;
    color: red;
    border: 1px solid red;
    margin: 2rem auto;
    padding: 1rem;
    width: 70%;
    background-color: rgba(254, 9, 0, 0.2);
    box-shadow: 1px 1px 3px black;
    border-radius: 3px; }

/*# sourceMappingURL=app.css.map */
