> main {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (min-width: 1024px) {
    width: 60vw;
  }

  > .go-to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    height: 5rem;
    width: 5rem;
    display: none;
    background-color: white;
    border-radius: 10rem;
  }
  @import 'new-tweet';
  @import 'tweet-container';
}