 /* nav {
   font-family: 'Bungee', 'sans-serif';
   position: fixed;
   top: 0%;
   height: 120px;
   width: 100%;
   background-color: #4056A1;
   color: #FFFFFF;
   padding: 1.5em;
   z-index: 2;
 }
 
nav div {
   font-family: 'Source Sans Pro', 'sans-serif';
   font-weight: 400;
   float: right;
   text-align: center;
 }
 
#newTweetButton:hover {
  position: relative;
  top: -0.5rem;
  color: black;
} */
