/* .tweet-container {
  position: relative;
  margin: 5rem auto;
  width: 70%;
}

.tweet-container article {
  padding: 1rem;
  border: solid;
  border-width: 2px;
  border-radius: 2rem;
  margin-bottom: 4rem;
} */

/* .tweet-container article:hover {
  border-radius: 2rem;
  box-shadow: 10px 10px 5px;
} */

/* .tweet-container article:hover .tweeter-handle {
  display: inline;
} */

/* .tweet-container article header {
  margin-bottom: 4rem;
} */

/* .tweet-container .tweeter-name {
  position: absolute;
  left: 2rem;
} */

/* .tweet-container .tweeter-name img {
  width: 40px;
  vertical-align: middle;
} */

/* .tweet-container .tweeter-name span {
  margin-left: 0.7rem;
} */

/* .tweet-container .tweeter-handle {
  position: absolute;
  display: none;
  color: #CAD0E3;
  right: 2rem;
} */

.tweet-container article div {
  float: none;
  text-align: left;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 300;
  font-size: 1.1rem;
}

/* .tweet-container article footer {
  margin: 2rem auto 2rem auto;
  border: solid;
  border-width: 2px 0 0 0;
} */

/* .tweet-container .time-tweeted {
  margin: 0.5rem auto 0rem auto;
  float: left;
} */

/* .tweet-container .actions-on-tweet {
  margin: 0.5rem auto 0rem auto;
  float: right;
} */